*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
/*
    6b9080
    a4c3b2
    cce3de
    eaf4f4
    f6fff8

 */
:root{
    --bg-color:#ffffff;
    --text-color:#000;
    --secound-color:#a09dab;
    --main-color:#f75023;
    --big-font:5rem;
    --h2-font:3rem;
    --p-font:1.1rem;
}
body{
    background-color: #f6fff8;
    color: #000;
}
section{
    min-height: 100vh;
    padding: 4rem 9% 2rem;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background: #6b9080;
    padding: 5px;
}
header h1{
    color:#344e41;
}
header span{
    color:#cce3de;
}
.nav-list{
    display: flex;
    justify-content: space-around;
}
.nav-list a{
    color:#a4c3b2;
    font-weight: 1.1rem;
    padding: 10px 40px;
}
.nav-list a:hover{
    background-color: #cce3de;
    color:#344e41;
    border-radius: 35px;
}
.home{
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "home-txt home-txt image";
}
img{
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 200px;
    grid-area: image;
    margin: 4rem;
}
.home-txt{
    grid-area: home-txt;
}
.home-txt h1{
    font-size: 3rem;
    line-height:1;
    font-weight: 700;
    color:#344e41;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.home-txt h3{
    font-size: 2rem;
    font-weight: 700;
    color:#a4c3b2;
    margin-bottom: 0.75rem;

}
.home-txt p{
    font-size: 1.5rem;
    font-weight: lighter;
    color:#344e41;
    margin-bottom: 0.5rem;
}
.home-txt p span{
    font-weight: 1000;
}
.social a{
    width: 2rem;
    height: 2rem;
    border:1rem solid #a4c3b2;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:transparent;
    font-size: 1rem;
    color:#344e41;
}
.social a:hover{
    border-color: #cce3de;
    font-size: 1.1rem;
}
.work h1{
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #344e41;
    font-size: 2rem;
}
.company{
    border-bottom:2px solid #344e41;
    max-width: 90%;
}
.company-header{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    font-size: 1.6rem;
}
.company-header2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    color:#6b9080;
}
.company-description{
    font-size:1rem;
    padding-left: 1.5rem;
}
.company-description li{
    padding-bottom: 0.5rem;
}
.skills{
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom:2px solid #344e41;
    font-size: 1.2rem;
}
.skills-left{
    display:flex;
    flex-direction: column;
}
.skills-heading{
    padding-bottom: 10px;
}
.skills-heading div{
    display: inline;
    color:#6b9080;
}
.skills-heading p{
    display: inline;
    color: #344e41;
    font-weight: 600;
}
.education h1{
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #344e41;
    font-size: 2rem;
}
.inst{
    border-bottom: 2px solid #344e41;
}
.inst-info{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    font-size: 1.6rem;
}
.inst-info2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    color:#6b9080;
}
.certi-heading{
    color:#6b9080;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}






