*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
/*
    6b9080
    a4c3b2
    cce3de
    eaf4f4
    f6fff8

 */
:root{
    --bg-color:#ffffff;
    --text-color:#000;
    --secound-color:#a09dab;
    --main-color:#f75023;
    --big-font:5rem;
    --h2-font:3rem;
    --p-font:1.1rem;
}
body{
    background-color: #f6fff8;
    color: #000;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background: #6b9080;
    padding: 5px;
}
header h1{
    color:#344e41;
}
header span{
    color:#cce3de;
}
.nav-list{
    display: flex;
    justify-content: space-around;
}
.nav-list li{
    position: relative;
}
.nav-list a{
    color:#a4c3b2;
    font-weight: 1.1rem;
    padding: 10px 40px;
}
.nav-list a:hover{
    background-color: #cce3de;
    color:#344e41;
    border-radius: 35px;
}

section{
    padding: 50px 15%;
}
.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
img{
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 200px;
}
.home-txt h1{
    margin: 10px 10px 10px 10px;
    font-size: 40px;
    line-height:1;
    font-weight: 100;
}
.home-txt h3{
    font-size: 20px;
    font-weight: bold;

}
.home-txt h5{
    font-size: 30px;
}
.home-txt p{
    font-size: 20px;
    font-weight: lighter;
}
.social a{
    width: 35px ;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.social a:hover{
    background-color: aquamarine;
}
.work{
    min-height: 100vh;
    
}
.education{
    min-height: 100vh;
    
}
.projects{
    min-height: 100vh;
}
.contact{
    min-height: 100vh;
}




